# OS:
.DS_Store
desktop.ini
Thumbs.db

# IDE:
.idea/*
.vscode/*
*.code-workspace
*.sublime-project
*.sublime-workspace
*.suo

# Godot Engine:
.import/*
.mono/*
data_*/*
*.TMP
*.translation

# Godot Engine Imports:
*.csv.import
*.ogg.import
*.png.import

# Godot Engine Exports:
builds/linux-demo/*
builds/mac-demo/*
builds/win-demo/*
builds/butler_path.txt
builds/godot_path.txt
builds/version_lock.txt
!builds/linux-demo/.itch
!builds/mac-demo/.itch
!builds/win-demo/.itch

# Python Scripts:
__pycache__/*
*$py.class
*.pyc
*.pyd
*.pyo

# Ignore:
ignore/*
!ignore/.gdignore
!ignore/readme.md
