# System
.DS_Store
desktop.ini
Thumbs.db

# IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.suo

# Godot
.import/
.mono/
data_*/
*.TMP
export.cfg
export_presets.cfg

# Defaulted Imports
*.ogg.import
*.png.import
*.wav.import

# Ignore
notes/
